:root {
    --dark-theme-background:#121212;
    --text-on-backgroud:#fff;
    --dark-theme-surface: #353535;
    --text-on-surface:#fff;
    --primary-color:#7e57c2;
    --primary-light:#b085f5;
    --secondary-color:#303f9f;
}
body {
    background: var(--dark-theme-background);
}
.main_content {
    display: flex;
    flex-wrap: wrap;
}
.title_page,
.subtitle_page,
.title_section,
.contact_title {
    font-family: 'Open Sans';
    color: var(--text-on-backgroud);
}
.body_code_explanation,
.body_ascii,
.body_quote,
.body_default,
.achi_item {
    font-family: 'Roboto';
    color: var(--text-on-surface);
}
.body_code {
    font-family: 'Ubuntu Mono';
    color: var(--text-on-surface);
}
a {text-decoration:none;}
a:link{
    font-family: 'Open Sans';
    color: var(--primary-color);
}
a:visited {
    font-family: 'Open Sans';
    color: var(--secondary-color);
}
a:hover,
a:active {
    font-family: 'Open Sans';
    color: var(--primary-light);
}
.anchor_menu_item,
.contact_menu_item {
    display: inline;
    text-transform: uppercase;
    margin-right: 12px;
}
.menu_anchors,
.menu_contacts {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_card {
    width: 100%;
    background-color: var(--dark-theme-surface);
    word-wrap: break-word;
    border-radius: 32px;
    padding: 8px 32px 8px 32px;
    margin: 32px;
}
.two_columned_card {
    width: 43.2%;
    background-color: var(--dark-theme-surface);
    word-wrap: break-word;
    border-radius: 32px;
    padding: 8px 32px 8px 32px;
    margin: 32px;
}
.title_section {
    text-align: center;
}
.profile_picture {
    border-radius: 50%;
    margin-top: 24px;
    margin-right: 64px;
}
.profile_info {
    margin-top: 36px;
    margin-right: 8px;
}
.header_content {
    display: flex;
    flex-direction: row-reverse;
}
.contacts_fab {
    position: sticky;
    bottom: 32px;
    right: 32px;
    float: right;
    background-color: var(--secondary-color);
    width:60px;
    height:60px;
    border-radius:100%;
    background: var(--secondary-color);
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contacts {
    display: none;
    background-color: var(--dark-theme-surface);
    word-wrap: break-word;
    border-radius: 32px;
    z-index: 101;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 50%;
}  
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}